@using WebApplication2.Data;
@model List<Person>

<h1>Personen</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            
            <!-- Weitere Spalten nach Bedarf -->
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.Name</td>
                
                <!-- Weitere Felder nach Bedarf -->
            </tr>
        }
    </tbody>
</table>
